<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="main.css" rel="stylesheet" type="text/css"></link>
  </head>
  <body>

    <header>
      <h1 class="name">
        <%= stack.name %>
      </h1>
      <h2 class="desc">
        <%= stack.desc %>
      </h2>
    </header>

    <div class="layers">
      <% _.forEach(stack.layers, function(layer) { %>
        <div class="blocks pure-g-r">
          <% _.forEach(layer, function(block) { %>
            <div class="background-<%= block.color %> block pure-u-<%= block.grid %>"><%= block.name %></div>
          <% }); %>
        </div>
      <% }); %>
    </div>

    <script src="main.js" type="application/javascript"></script>
  </body>
</html>