
/******************
*
* SASS Imports
*
******************/

@import 'color-me-sass';
@import 'variables';

/******************
*
* CSS Imports
*
******************/

@import url('../bower_components/pure/pure.css');

/******************
*
* CSS
*
******************/

.greenBright {
  background: $greenBright;
}

.green {
  background: $green;
}

.greenMint {
  background: $greenMint;
}

.greenSpa {
  background: $greenSpa;
}

.lime {
  background: $lime;
}

.lightblue {
  background: lightblue;
}

.skyblue {
  background: skyblue;
}

.orange {
  background: orange;
}

.layers {

  div {

    text-align: center;
  }
}

.divider {

}

.blocks {

}

.block {

  box-sizing: border-box;
  border: solid white 1px;
  padding: 0.5em;
}