
/******************
*
* SASS Imports
*
******************/

@import 'vendor/color-me-sass/color-me-sass';
@import 'library/styles/color-list';
@import 'project/styles/variables';

/******************
*
* CSS Imports
*
******************/

@import url('bower_components/pure/pure.css');

/******************
*
* CSS
*
******************/

/* Apply Colors */

@each $item in $color-list {

  $key: nth($item, 1);
  $val: nth($item, 2);

  .color-#{$key} {
    color: $val;
  }

  .background-#{$key} {
    background-color: $val;
  }
}

body {
  background: $whiteSmoke;
}

header {
  .name, .desc {
    text-align: center;
  }
}

.layers {

  div {

    text-align: center;
  }
}

.divider {

}

.blocks {

}

.block {

  color: #FFF;
  text-shadow: 0px 0px 2px #4c4c4c;
  box-sizing: border-box;
  border: solid 1px $whiteSmoke;
  padding: 0.5em;
}