
/******************
*
* SASS Imports
*
******************/

@import 'color-me-sass';
@import 'variables';

/******************
*
* CSS Imports
*
******************/

@import url('../bower_components/pure/pure.css');

/******************
*
* CSS
*
******************/

.greenBright {
  background: $greenBright;
}

.green {
  background: $green;
}

.greenMint {
  background: $greenMint;
}

.turquoiseTeal {
  background: $turquoiseTeal;
}

.turquoiseCrystal {
  background: $turquoiseCrystal;
}

.greenSpa {
  background: $greenSpa;
}

.lime {
  background: $lime;
}

.grayBattleship {
  background: $grayBattleship;
}

.layers {

  div {

    text-align: center;
  }
}

.divider {

}

.blocks {

}

.block {

  color: #FFF;
  text-shadow: 0px 1px 1px #4c4c4c;
  box-sizing: border-box;
  border: solid white 1px;
  padding: 0.5em;
}